@font-face {
  font-family: "iconfont"; /* Project id 3045411 */
  src: url('//at.alicdn.com/t/font_3045411_xvy7m4y5leg.woff2?t=1646130769126') format('woff2'),
       url('//at.alicdn.com/t/font_3045411_xvy7m4y5leg.woff?t=1646130769126') format('woff'),
       url('//at.alicdn.com/t/font_3045411_xvy7m4y5leg.ttf?t=1646130769126') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
 /* font-size: 16px; */
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhaoxiangji:before {
  content: "\e607";
}

.icon-gouwuche:before {
  content: "\e63b";
}

.icon-zhuye:before {
  content: "\e642";
}

.icon-62:before {
  content: "\e64b";
}

.icon-yanjing:before {
  content: "\e661";
}

.icon-xingxing:before {
  content: "\e616";
}

.icon-shijian:before {
  content: "\e606";
}

.icon-duihao:before {
  content: "\e767";
}

.icon-duihao1:before {
  content: "\e605";
}

.icon-lajitong:before {
  content: "\e615";
}

.icon-bianji:before {
  content: "\e649";
}

.icon-shenfenzhengbeimian:before {
  content: "\e603";
}

.icon-shenfenzhengzhengmian:before {
  content: "\e602";
}

.icon-wodedingdan:before {
  content: "\e604";
}

.icon-gerenziliao:before {
  content: "\e618";
}

.icon-shoumailingyang:before {
  content: "\e612";
}

.icon-guanzhu:before {
  content: "\e687";
}

.icon-wodedingdan1:before {
  content: "\e608";
}

.icon-wodedizhi:before {
  content: "\e60e";
}

.icon-songyangchongwu:before {
  content: "\e672";
}

.icon-daifukuan:before {
  content: "\e600";
}

.icon-31daipingjia:before {
  content: "\e601";
}

.icon-yifukuan:before {
  content: "\e622";
}

.icon-daishouhuo:before {
  content: "\e61e";
}

.icon-quanbu:before {
  content: "\e61b";
}

.icon-xiajiantou:before {
  content: "\e60c";
}

.icon-jiahao1:before {
  content: "\e727";
}

.icon-cuohao:before {
  content: "\e632";
}

.icon-sousuo:before {
  content: "\e62f";
}

.icon-xitongfanhui:before {
  content: "\e6b6";
}

.icon-dizhiguanli:before {
  content: "\e640";
}

.icon-youjiantou:before {
  content: "\e641";
}

